<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css_lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/mobile.css">
</head>
<body ng-app="app" ng-controller="app_control" ng-class="{'active-flow':menu_status}">
    <header class="light">
        <div class="container">
            <div class="center-items-header">
                <div class="light-flex-icon">
                    <img src="./images/merge logo-one.svg" alt="">
                    <img src="./images/merge-logo-two.svg" alt="">
                    <img src="./images/merge-logo-three.svg" alt="">
                </div>
                <div class="bars-box" ng-class="{'active':menu_status}" ng-click="toggleMenu()"> 
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav ng-class="{'active': menu_status}">
                    <div class="logo-box-mobile">
                        <img src="./images/logo.svg" alt="">
                        <img  class="close-img" src="./images/close-img.png" alt="" ng-click="toggleMenu()">
                    </div>
                    <ul>
                        <li><a href="#" class="active">About us</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </nav>
                <button class="btn-order">
                    Order now
                </button>
            </div>
        </div>
    </header>


    <section class="contact-section">
        <div class="container">
            <p class="title-contact title-profile-page">“We make customers happy with any available <br> development!”</p>
            <div class="row">
                <div class="col-lg-7 col-md-12 col-xs-12">
                    <div class="profile-flex">
                        <div class="circle-profile">
                            <img src="./images/pp.svg" alt="">
                        </div>
                        <p class="title-and-rank">
                            <span class="title">Farhad Aliyev</span>
                            <span class="rank">Founder Trafbanners</span>
                        </p>
                    </div>
                    <div class="story-box">
                        <p class="title-contact title-profile-page">Our story</p>
                        <p class="low-bottom-title">Who we are and what we do.</p>
                        <p class="about-bottom-text">
                            If you are not happy with the results of your banner design, then you don’t pay!  
                            Inspired by the ways in which design can redefine experiences Trafbanners was founded in 
                            2017. Our vision was to create an e-commerce site for custom designed display ads for 
                            digital marketers. There wasn’t anything quite like this service. So, we created it.
                            <br><br>
                            We’ve found that big budgets are often allocated to marketing. But very little investment is 
                            made in the designs that are the first point of contact with customers. The desire to change this is 
                            what propelled Trafbanners  forward 3 years ago.
                            <br><br>
                            Today we also provide a white label design service for marketing and ad agencies so they 
                            can keep up with their current clients and onboard new ones.
                            <br><br>
                            We’ve worked with brands ranging from startups to Fortune 500 companies but our commitment 
                            to providing an excellent service remains the same. We are our clients’ competitive advantage and 
                            we deliver designs that deliver results.

                        </p>
                        <p class="title-contact title-profile-page last">The Trafbanners team</p>
                        <p class="about-bottom-text last">
                            Trafbanners employs programmers, designers, and managers who truly love design.
                            Trafbanners - specialists from Ukraine, Russia, Cyprus, Germany, USA and Belarus, and their
                            everyone is united by the desire to make the best design service in the online space.
                        </p>
                        <p class="low-bottom-title bottom-low-title-item">Our talented employees are ready to deliver 365 days a year
                            when you need us, we're here to help!</p>
                    </div>
                </div>
            </div>

            <div class="profile-items">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp2.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Programmer Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp3.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Desinger Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp4.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Manager Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    
    
    
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp5.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Programmer Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp6.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Desinger Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp7.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Manager Trafbanners</span>
                            </p>
                        </div>
                    </div>
    
    
    
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp8.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Programmer Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp9.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Desinger Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp10.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Manager Trafbanners</span>
                            </p>
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Programmer Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp12.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Desinger Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <div class="profile-flex">
                            <div class="circle-profile">
                                <img src="./images/pp13.svg" alt="">
                            </div>
                            <p class="title-and-rank">
                                <span class="title">XXX Character</span>
                                <span class="rank">Manager Trafbanners</span>
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <p class="title-contact title-profile-page">What do you need done?</p>
                  <button class="blue-btn w-100 new-blue-btn-modifire">Contact us now, we're standing by to take your order!</button>
                </div>
            </div>
          
        </div>
    </section>

    

   

    



    <footer>
        <div class="container">
            <div class="footer-logo">
                <img src="./images/footer-logo.svg" alt="">
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <ul class="media-ul">
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                    <ul class="menu-ul">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Prackages</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 middle-item-footer">
                    <p class="title-menu-footer">SOCIAL MEDIA</p>
                    <ul class="menu-ul">
                        <li><a href="#">Social Media Designs</a></li>
                        <li><a href="#">Facebook Ads</a></li>
                        <li><a href="#">Facebook cover & Post</a></li>
                        <li><a href="#">Youtube Banner</a></li>
                        <li><a href="#">Instagram Post</a></li>
                        <li><a href="#">Twitter Graphics</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 last-item-footer">
                    <p class="title-menu-footer">BANNERS</p>
                    <ul class="menu-ul">
                        <li><a href="#">Animated Banners</a></li>
                        <li><a href="#">Banner Examples</a></li>
                        <li><a href="#">HTML5 Banners</a></li>
                        <li><a href="#">GIF Banners</a></li>
                        <li><a href="#">Mobile Banners</a></li>
                        <li><a href="#">Email GIF Banners</a></li>
                        <li><a href="#">AMP Banners</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy-text">
                <p>© 2020 Bannersnack. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

</body>
<!-- libs  -->
<script src="./lib/angular.module.js"></script>
<script src="./javascript/main.module.js"></script>

<!-- </> libs  -->

</html>